@import "tailwindcss";

@theme {
  --color-app-background-start: #EBF1FF;
  --color-app-background-end: #CEDDFF;
  --color-form-background: #131623;
}

/* ------------------------------
   Global Theme Variables
------------------------------ */

:root {
  --bg-primary: #f5f6fa;
  --bg-surface: #ffffff;
  --bg-soft: #f0f2f7;

  --text-primary: #1f2937;
  --text-secondary: #6b7280;

  --brand-primary: #df1612;
  --brand-soft: #ede9fe;

  --green-soft: #e6f9f0;
  --orange-soft: #fff2e6;
  --blue-soft: #e6f0ff;

  --border-color: #e5e7eb;
}

/* Smooth UI */
html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: Inter, sans-serif;
}

/* Scrollbar clean look */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}